:root {
    --black: #000;
    --border-clr: #212121;
    --white: #fff;
}

.lightModeToggle {
    --black: #fff;
    --border-clr: #DEDEDE;
    --white: #000;
}

*, *::before, *::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: var(--black);
    color: var(--white);
    font-family: "Raleway", serif;
    overflow-x: hidden;
    transition: all 0.5s ease !important;
}

header {
    margin: 5rem auto 2rem;
    text-align: center;
}

.buttons {
    margin: 2rem 0;
}

.buttons button {
    background-color: var(--white);
    border: 2px solid var(--white);
    color: var(--black);
    font-weight: bold;
    border-radius: 50px;
    width: 150px;
    height: 45px;
    cursor: pointer;
    font-family: "Raleway", serif;
}

.buttons button:hover {
    background-color: var(--black);
    color: var(--white);
}

.notes {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(325px, 1fr));
    gap: 1.5rem 0;
    margin: 0 auto;
    width: 95%;
    justify-content: center;
    align-items: center;
}

.notes::after {
    content: "";
    width: 325px;
}

.note {
    width: 95%;
    height: 325px;
    position: relative;
    border-radius: 15px;
    margin: 0 auto;
}

.note textarea {
    width: 100%;
    height: 100%;
    resize: none;
    padding: 1rem;
    border-radius: 15px;
    border: 2px solid var(--border-clr);
    background-color: var(--black);
    color: var(--white);
    font-style: italic;
    font-family: "Raleway", serif;
    font-size: 1rem;
}

.noteAppend {
    width: 100%;
    height: 100%;
    border-radius: 15px;
    position: absolute;
    overflow-x: hidden;
    top: 0;
    left: 0;
    padding: 1rem;
    background-color: var(--black);
    border: 2px solid var(--border-clr);
    overflow-y: scroll;
    scrollbar-width: thin;
    scrollbar-color: rgba(255, 255, 255, 0.5) transparent;
    white-space: pre-wrap;
    overflow-wrap: break-word;
}

.noteAppend::-webkit-scrollbar {
    width: 4px;  /* width of the vertical scrollbar */
    height: 4px; /* height of the horizontal scrollbar */
  }
  
  .noteAppend::-webkit-scrollbar-track {
    background: transparent;
  }
  
  .noteAppend::-webkit-scrollbar-thumb {
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 2px;
  }

.tools {
    position: absolute;
    bottom: 0.5rem;
    right: 0.5rem;
    display: flex;
    flex-direction: column;
}

.tools button {
    margin: 0.25rem 0;
    width: 45px;
    height: 45px;
    border-radius: 50%;
    cursor: pointer;
    transform: scale(0);
    pointer-events: none;
    transition: 0.2s ease;
    background-color: var(--black);
    border: 2px solid var(--white);
    color: var(--white);
    font-size: 1.25rem;
}

.tools button:hover i {
    animation: animate 0.3s;
}

.note:hover .tools button {
    transform: scale(1);
    pointer-events: all;
}

.hidden {
    display: none !important;
}

.show {
    display: block !important;
}

.lightMode {
    width: 50px;
    height: 50px;
    background-color: var(--border-clr);
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.75rem;
    cursor: pointer;
    position: fixed;
    bottom: 1rem;
    right: 1rem;
}

@media (max-width: 1024px) {
    .tools button {
        transform: scale(1) !important;
    }
}

@keyframes animate {
    0% {
            transform: translateY(0);
    }
    50% {
            transform: translateY(-5px);
    }
    100% {
            transform: translateY(0);
    }
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

.noteCreated {
    animation: fadeIn 0.3s;
}

@keyframes fadeOut {
    from {
        opacity: 1;
    }
    to {
        opacity: 0;
    }
}

.noteDeleted {
    animation: fadeOut 0.3s;
}


